<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>~BitFlux~</title>

<link rel="stylesheet" type="text/css" href="/site_media/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/site_media/resources/css/xtheme-access.css" />
<!-- GC -->
<!-- LIBS -->
<script type="text/javascript" src="/site_media/ext-base-debug.js"></script>
<!-- ENDLIBS -->
<script type="text/javascript" src="/site_media/ext-all-debug.js"></script>
<script type="text/javascript" src="/site_media/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="/site_media/bitflux_m.js"></script>
<script type="text/javascript">
    Ext.onReady(function(){
        initialize();
    });
</script>
</head>

<body>
</body>
</html>